In [4]:
from src import utils as utl
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("data/Water Quality Testing.csv")
df.head()

,Sample ID,pH,Temperature (°C),Turbidity (NTU),Dissolved Oxygen (mg/L),Conductivity (µS/cm)
0,1,7.25,23.1,4.5,7.8,342
1,2,7.11,22.3,5.1,6.2,335
2,3,7.03,21.5,3.9,8.3,356
3,4,7.38,22.9,3.2,9.5,327
4,5,7.45,20.7,3.8,8.1,352

In [6]:
df2 = utl.preprocess(df)
df2

       ph  temperature  turbidity   do  conductivity
0    7.25         23.1        4.5  7.8           342
1    7.11         22.3        5.1  6.2           335
2    7.03         21.5        3.9  8.3           356
3    7.38         22.9        3.2  9.5           327
4    7.45         20.7        3.8  8.1           352
..    ...          ...        ...  ...           ...
495  7.01         20.8        4.6  7.1           327
496  7.31         22.5        3.8  9.4           361
497  7.02         21.2        4.7  7.5           334
498  7.25         23.0        3.9  8.7           359
499  7.12         20.9        4.4  8.2           339

[500 rows x 5 columns]

In [5]:
my_list = utl.tt_splitter(df2)

In [6]:
model = utl.rf_model(
    my_list["x_train"],
    my_list["x_test"],
    my_list["y_train"],
    my_list["y_test"]
)

In [7]:
model

[RandomForestRegressor(n_estimators=1000, random_state=42),
 {'r2': 0.7120092074666291,
  'mae': 0.26272562626261914,
  'rmse': 0.45081460320675126}]